.item {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .item:last-child {
    margin-bottom: 0;
  }
  
  .span {
    font-size: 18px;
  }
  
  .button {
    padding: 5px 10px;
    background-color: #ff5252;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    transition: all 250ms linear;
  }
  
  .button:hover,
  .button:focus {
    cursor: pointer;
    background-color: #d32f2f;
    transition: all 250ms linear;
  }